<li class="poem">
  <p class="poem-user">投稿者:<%= link_to poem.user.name, poem.user%></p>
  <%= link_to poem do%>
    <h3><%= poem.first%></h3>
    <h3><%= poem.second%></h3>
    <% if poem.third%><h3><%= poem.third %></h3><% end %>
  <% end %>
    <p><%= poem.created_at%></p>
    <p><%= poem.updated_at%></p>
    <% if log_in?%>
      <% if allow_edit(poem)%>
        <%= link_to "編集", edit_poem_path(poem) %>
      <% end %>
      <% if allow_destroy(poem)%>
         <%= link_to "削除", poem, method: :delete, data: {comfirm:'本当に削除しますか？'}%>
      <% end %>
    <% end %>
    <% if yield(:title) == "All poems"%>
      <p>状態:
        <%if poem.finish%>
         完成
        <%else%>
        作成中
        <%end%>
      <p>
    <% end%>
    
</li>