<div class="input-form">
  <%= form_for(@poem) do |f|%>

    <% if @poem.errors.any? %>
      <% @poem.errors.full_messages.each do |message|%>
        <li class="data-error"><%= message%></li>
      <% end %>
    <% end %>

    <%= f.label :first ,"第一句"%>
    <%= f.text_field :first%>
    
    <%= f.label :second ,"第二句"%>
    <%= f.text_field :second%>
    
    <%= f.label :third ,"第三句"%>
    <%= f.text_field :third%>

    <%= f.label :parent_id,"発句のID"%>
    <%= f.number_field :parent_id, readonly: true%>

    <%= f.label :finish ,"完成"%>
    <%= f.check_box :finish, :as=>:boolean%>
  
    <%= f.submit yield(:btn)%>
  <%end%>
  
  <p>
    第一句を５ 第二句を７ 第三句を５ または第一句を７ 第二句を７としてお使いください
  </p>
  <p>
  漢字での入力、また字余りを考慮して第一句を３～８　第二句を３～８　第三句を０～６文字まで入力できます。</p>
  <p>
  完成にチェックをして送信すると発句から自分の投稿に至るまで編集と削除ができなくなります。</p>
</div>