<% provide(:title, "All poems")%>

  <h1>作品一覧</h1>


 <%= will_paginate %>
    <ul class="users">
      <% @poems.each do |poem| %>
        <%= render 'poem', { poem: poem }%>
      <% end %>
    </ul>
  <%= will_paginate %>
  
　<% if log_in?%>
    <%= link_to "新しく投稿する",new_poem_path%>
  <% end %>