<% provide(:title, "Poem Show" )%>

  <ul class="users">
    <%= render 'poem', {poem: @poem}%>
  <ul>        
  <ul>
      <% @subsidiary_poems.each do |subpo|%>
        <%= render 'poem', {poem: subpo}%>
      <% end %>
  </ul>
  <% unless @poem.finish%>
    <%= link_to '続きを投稿する', new_poem_path(parent_id: @poem.id)%>
  <% end %>
  <%= link_to '一覧に戻る', poems_path%>



