<% provide(:title, "Log in")%>

  <div class="input-form">
    <%= form_for(:sessions, url: login_path) do |f|%>

      <%= f.label :email%>
      <%= f.email_field :email%>

      <%= f.label :password%>
      <%= f.password_field :password%>

      <%= f.submit "ログイン"%>

    <% end %>
  </div>
