<% provide(:title, "About")%>

       　<div class="row">
         <h1>連歌Appの使い方</h1>
  <p>これは連歌アプリです</p>
  <p>自分の、あるいは他の人が書き始めた和歌に続きを書いていくことでみんなで一つの連歌を作ることができます</p>
  <br>
  <h2>ログインしていない場合</h2>
    <p>新規ユーザー登録は<%= link_to 'こちら', signup_path %>こちら</p>
    <p>すでにアカウントをお持ちの方は<%= link_to 'こちら', login_path%></a></p>
  <br>
  <h2>ログインしている場合</h2>
    <p>ログインしている場合は新しく投稿する、作品一覧から作成中の作品の続きを作ることができます</p>
  <h2>手順</h2>
  <h3>新しく作品を作る場合</h3>
    <p>①「新しく投稿」で「第一連」「第二連」「第三連」を入力すると「作品一覧」に送信されます</p>
    <p>「第一連」は３～８文字「第二連」は３～８文字「第三連」は０～６文字で投稿することができます</p>
    <p> 「完成」をチェックするとその作品は完成したことになり、以降、編集削除は不可能になります
    <p>②「作品一覧」に他の人のをふくめた作品(発句)が並んでいます</p>
    <p>その中で自分が見たいものや描きたいものをクリックします</p>
    <p>③開くと作品の発句と以降の句、そして作成中の作品は続きを投稿するボタンが出てきます</p>
    <p>「続きを書く」を押すとそれまでの続きから自分が文章を書くことができます</p>
    <p>以降の説明は①に戻ります</p>
  <h3>注意事項</h3>
    <p>※他人への誹謗中傷、その他他人を不快にさせる内容は管理人によって削除される
    可能性があります</p>

       　
       　</div>
　<% unless log_in?%>
　  <h3><%= link_to '登録する',signup_path%><h3>
　<% end%>
