<div class="input-form">
  
  <%= form_for(@user) do |f|%>

    <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |message|%>
        <li class="data-error"><%= message%></li>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name%>

    <%= f.label :email%>
    <%= f.text_field :email%>

    <%= f.label :password%>
    <%= f.password_field :password%>

    <%= f.label :password_confirmation%>
    <%= f.password_field :password_confirmation%>
  
    <%= f.submit yield(:btn)%>
  <%end%>
</div>