<% provide(:title, "All users")%>


  <h1>ユーザー</h1>

  <%= will_paginate %>

    <ul class="users">
      <% @users.each do |user| %>
        <li>
          <%= link_to user.name, user %>
          <% if current_user.admin? && !current_user?(user)%>
          | <%= link_to "削除", user, method: :delete, data: {comfirm:'本当に削除しますか？'}%>
          <% end %>
        </li>
      <% end %>
    </ul>

  <%= will_paginate %>
