<% provide(:title, @user.name )%>

  <h1>名前:<%= @user.name%></h1>
  <% if current_user?(@user)%>
    <%= link_to "ユーザー情報編集", edit_user_path(@user.id)%>
  <% end%>
　<h1>　</h1>
  <h1>発句一覧</h1>

    <%= will_paginate @user_poems%>
      <% @user_poems.each do |poem| %>
        <%= render 'poems/poem', { poem: poem }%>
          <p>状態:
          <%if poem.finish%>
          完成
          <%else%>
          作成中
          <%end%>
          </p>
        <% end%>
    <%= will_paginate @user_poems %>