@import "bootstrap-sprockets";
@import "bootstrap";
@import "font";

p.poem-user {
  font-size:20px;
}

body {
  height: 1200px;
  max-height: 100%;
}

header {
  background-color: black;
  height :120px;
  width: 100%;
}

.wrapper {
  
  background: image-url('app-background.png');
  background-size: cover;
  height:100%;
  background-attachment: fixed;
}
.container {
  height: 100%;
  margin: 0 auto;
  padding:40px;
  background-color: white;
  opacity: 0.9;
}

ul { 
  &.link{
  float: right;
        }
  &.users {
    
  }

}
li {
  
  list-style: none;
  
  &.header-link {
    display: inline-block;
    font-size: 30px;
    padding: 40px;
  }
  &.data-error {
    display: block;
    font-size: 20px;
    color: red;
  }
  &.poem {
    border-bottom:solid;
    border-bottom-color: gray;
    border-bottom-width:2px;
  }
}

.input-form {
  padding-left: 50px;
  padding-top: 50px;
}

input {
  width: 500px;
  display: block;
}

textarea {
  width: 500px;
  display: block;
}