<header>
  <%= link_to image_tag("app_logo.png", size:"120x120"), root_path %>
  <ul class=link>
    <li class="header-link"><%= link_to 'ホーム', root_path %></li>
    <li class="header-link"><%= link_to '使い方', about_path %></li>
    <li class="header-link"><%= link_to '作品一覧', poems_path %></li>
    <% if log_in? %>
      <li class="header-link"><%= link_to 'ユーザー一覧', index_path %></li>
      <li class="header-link"><%= link_to "新しく投稿する",new_poem_path%></li>
      <li class="header-link"><%= link_to current_user.name, @current_user %></li>
      <li class="header-link"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
   
    <% else %>
      <li class="header-link"><%= link_to 'ログイン', login_path %></li>
      <li class="header-link"><%= link_to '新規登録', signup_path %></li>
    <% end %>
  </ul>
</header>
