<h2>題名:<%=@question.title %></h2>
   <p>作者:<%=@question.auther %></p>
  <p>Level:<%=@question.level %></p>
  <p>正答率:<%= accurate_rate(@question)%>%</p>

  <p>本文1:</p>
  <p><%=@question.main_text1 %></p>
  <p>本文2:</p>
  <p><%=@question.main_text2 %></p>
  <p>本文3:</p>
  <p><%=@question.main_text3 %></p>
  <p>問:<%=@question.question %></p>
  <p>選択肢</p>
  <p>1:<%=@question.choice1 %></p>
  <p>2:<%=@question.choice2 %></p>
  <p>3:<%=@question.choice3 %></p>
  <p>4:<%=@question.choice4 %></p>
 